body {
  margin:auto;
  background-color:pink;/*#FEF9ED;/*black;/*darkslategrey;*/
  /*
  add colorpicker for Isabella to change the background
  */
  /*
  makes text unselectable and 
  avoids ugly blue select boxes */
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

#bezel {
  position:relative;
  top:50px;
  margin:auto;
  height:470px;
  width:470px;
  border-radius:100%;
  background-color:black;
}

.quarter-circle {
  position:absolute;
  height:47%;
  width:47%;
  opacity:0.8;

}
.quarter-circle-back {
  position:absolute;
  height:47%;
  width:47%;
  background:black;

}

#green {
  background-color:#3edd4b; /*green*/
  -moz-border-radius:100% 0 0 0;
  border-radius:100% 0 0 0;
  top:10px;
  left:10px;
}

#red {
  background-color:red;/*#dd4b3e; /*red*/
  -moz-border-radius:0 100% 0 0;
  border-radius:0 100% 0 0;
  top:10px;
  left:238px;
}

#blue {
  background-color:blue; /*#4b3edd*/
  -moz-border-radius:0 0 100% 0;
  border-radius:0 0 100% 0;
  top:238px;
  left:238px;
}

#yellow {
  background-color:#ffea37; /*yellow*/
  -moz-border-radius:0 0 0 100%;
  border-radius:0 0 0 100%;
  top:238px;
  left:10px;
}
#green-back {
  -moz-border-radius:100% 0 0 0;
  border-radius:100% 0 0 0;
  top:10px;
  left:10px;
}

#red-back {
  -moz-border-radius:0 100% 0 0;
  border-radius:0 100% 0 0;
  top:10px;
  left:238px;
}

#blue-back {
  -moz-border-radius:0 0 100% 0;
  border-radius:0 0 100% 0;
  top:238px;
  left:238px;
}

#yellow-back {
  -moz-border-radius:0 0 0 100%;
  border-radius:0 0 0 100%;
  top:238px;
  left:10px;
}

#control-panel {
  position:absolute;
  margin:auto;
  top:113px;
  left:113px;
  background-color:white;
  height:243px;
  width:243px;
  border-radius:100%;
  -moz-border-radius:100%;
  font-family:'Sigmar One';
  font-size:18px;
  color:black;
  box-shadow:0 0 0 10px black;
  text-shadow:-1px 0 silver,
    0 1px silver,
    1px 0 silver,
    0 -1px silver;
}

#simon {
  position:absolute;
  top:12px;
  left:12px;
  font-size:55px;
  text-decoration:underline;
}

#lcd {
  position:absolute;
  top:100px;
  left:12px;
  padding:0 3px 0 0;
  height:45px;
  width:45px;
  text-align:center;
  background-color:black;
  font-family:'VT323';
  font-size:50px;
  line-height:0.845;
  text-shadow:1px 1px 10px red;
  border:2px solid silver;
  border-radius:10px;
  color:red;
}


.btn {
  position:absolute;
  height:25px;
  width:25px;
  border-radius:100%;
  background:red;
}

#start-btn {
  top:108px;
  left:109px;
}

#strict-btn{
  top:108px;
  right:35px;
}

#onOff-btn{
  top:30px;
  left:59px;
}
.label {
  position:absolute;
  height:10px;
  width:10px;
}

#start {
  top:129px;
  left:87px;
}

#strict {
  top:129px;
  right:70px;
}

#switch {
  position:absolute;
  top:155px;
  left:50px;
}

#onOff {
  top:55px;
  left:35px;
}