body {
  margin: auto;
  background-color: #F49D37;
  /*
  makes text unselectable and
  avoids ugly blue select boxes */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



.userStory {
  position: absolute;
  left: 0;
  padding: 1px;
  margin: 1px;
  width: 25%;
  border: 1px solid lightblue;
}

#container {
  position:absolute;
  top:10px;
  left:0;
  height:400px;
  width:400px;
  border-radius:100%;
  background-color:black;
}

/*.outer-circle {
  position:absolute;
  left:20px;
  height: 400px;
  width: 400px;
  border: 35px solid black;
  border-radius: 100%;
}*/


/*
yellow: #ffea37	(255,234,55)
red:    #dd4b3e	(221,75,62)
green:  #3edd4b	(62,221,75)
blue:   #4b3edd	(75,62,221)
silver: #aaaaaa (170,170,170)
*/
.quarter-circle {
  position:absolute;
  width: 50%;/*200px;*/
  height: 50%;/*200px;*/
  border:25px solid black;
  opacity:0.8;
}

.tl {
  top:0;
  left:0;

  background-color:#3edd4b;  /*rgba(62,221,75,0.8); /*green*/
  -moz-border-radius: 100% 0 0 0;
  border-radius: 100% 0 0 0;
}

.tr {
  top:0;
  left:200px;
  background-color:#dd4b3e; /* rgba(221,75,62,0.8);/*red*/
  -moz-border-radius: 0 100% 0 0;
  border-radius: 0 100% 0 0;
}

.br {
  top:200px;
  left:200px;
  background-color:#4b3edd; /* rgba(75,62,221,0.8); /*blue*/
  -moz-border-radius: 0 0 100% 0;
  border-radius: 0 0 100% 0;
}

.bl {
  top:200px;
  left:0;
  background-color:#ffea37; /* rgba(255,234,55,0.8);/*yellow*/
  -moz-border-radius: 0 0 0 100%;
  border-radius: 0 0 0 100%;
}

#inner-circle {
  position:absolute;
  left:90px;
  top:90px;
  background-color:black;
  height:220px;
  width:220px;
  border:2px solid #aaaaaa;
  -moz-border-radius:100%;
  border-radius:100%;
}

#simon {
  position:absolute;
  top:15px;
  left:20px;
  font-family:'Sigmar One', cursive;
  font-size:50px;
  text-decoration:underline;
  /*text-shadow:-1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;*/
  color:#aaaaaa;
  /*opacity:0.8;*/
}

/*#led {

}

#start {

}

#onOff {

}

#strict {

}
*/
.active {
  border:22px solid black;
  opacity: 1;
}
